/*шрифты*/
@font-face {
    font-family: Open-sans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: Open-sans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
  }
  body {
    margin: 0;
  }
  /*шапка*/
  .header {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
  }
  .header::after,
  .trend1::after,
  .trend2::after,
  .trend3::after,
  .trend4::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.6;
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
  }
  #menu__toggle {
    opacity: 0;
  }
  .header-text {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .title {
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
  }
  /*Попап*/
  .popup {
    position: fixed;
	  top: 0;
	  right: 0;
  	bottom: 0;
	  left: 0;
	  z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
  }
  .popup::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;   
  }
  .popup-box {
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
  }
  .popup-close {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    cursor: pointer;	
    position: absolute;
    top: -30px;
    right: 0;
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
  }
  .popup-close-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px 1px 1px 1px);
  }
  .popup-heading {
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  .popup-heading::after {
    content: "";
    display: block;
    border-style: none;
    background-color: #b59f5b;
    width: 65px;
    height: 3px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
  }
  .fidbeck {
    display: flex;
  }
  .fidbeck-text,
  .select,
  .email-text,
  .email-choice-text,
  .content-choice-text,
  .send-input {
    font-family: Open-sans, sans-serif;
    font-size: 13px;
    font-weight: 400;
  }
  .select {
    height: 46px;
    margin-top: 10px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 10px;
    border: none;
    background-color: #f4f7f6;
    border-radius: 0;
  }
  .email-distribution {
    display: flex;
    flex-direction: column;
  }
  .choices {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .radio {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    width: 1px;
  }
  .email-choice {
    display: inline-block;
    font-size: 15px;
  }
  .email-choice-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
  }
  .radio:checked ~ .email-choice-text::before {
    background-image: url(../svg/form-circle.svg);
  }
  .content-choice {
    display: flex;
  }
  .send-input {
    height: 130px;
    resize: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    border: none;
    background-color: #f4f7f6;
    border-radius: 0;
  }
  .button-send {
    background-color: #b59f5b;
    color: white;
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    border-style: none;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
  }
  /*сейчас в тренде*/
  .trend-title {
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
   .trend-title::after {
     content: "";
     display: block;
     border-style: none;
     background-color: #b59f5b;
     width: 65px;
     height: 3px;
     margin-right: auto;
     margin-left: auto;
     margin-top: 10px;
     opacity: 0.4;
  }
   .trends {
    display: flex;
    justify-content: space-between;
  }
  .trend-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .trend1 {
    background-image: url(../images/trend1.jpg);
  }
  .trend2 {
    background-image: url(../images/trend2.jpg);
  }
  .trend3 {
    background-image: url(../images/trend3.jpg);
  }
  .trend4 {
    background-image: url(../images/trend4.jpg);
  }
  .trend-tags {
    border: 4px solid #b59f5b; 
    position: relative;
    z-index: 2;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-top: auto;
  } 
  .trend-list {
    display: flex;
    list-style-type: none;
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    align-items: flex-start;
  } 
  .trend-list-item {
  margin-right: 14px;
  }
  .trend-link {
    text-decoration: none;
    color: #b59f5b;
  }
  .trend-link:hover,
  .goods-link:hover {
    text-decoration: underline;
  }
  .trend-heading {
    color: #ffffff;
    text-decoration: none;
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
/*основной раздел*/
  .page {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .content-text {
    display: flex;
    flex-direction: column;
  }
  .content-list {
    display: flex;
    font-family: Open-sans;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 14px;
    align-items: flex-start;
  }
  .content-list-item {
    margin-right: 20px;
  }
  .content-link {
    text-decoration: none;
    color: #b59f5b;
  }
  .subject {
    margin-top: 0;
    margin-bottom: 0;
  }
  .content-heading {
    text-decoration: none;
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
  }
  .data {
    font-family: Open-sans;
    font-weight: 400;
    font-size: 12px;
    color: #888888;
    margin-right: 15px;
  }
  .author {
    font-family: Open-sans;
    font-weight: 700;
    font-size: 12px;
    color: #000000;
  }
  .content-paragraph {
    font-family: Open-sans;
    font-weight: 400;
    margin-top: 0;
  }
  /*сайбар*/
  aside {
    display: flex;
    flex-direction: column;
  }
  .heading {
    font-family: Open-sans;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  .heading::after {
    content: "";
    display: block;
    border-style: none;
    background-color: #b59f5b;
    width: 65px;
    height: 3px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    opacity: 0.4;
  }
  .content-aside {
    display: flex;
  }
  .content-aside:nth-child(n + 2) {
    margin-top: 22px;
  }
  .pic {
    width: 70px;
    margin-right: 20px;
  }
  .pic-data {
    font-family: Open-sans;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    opacity: 0.54;
  }
  .caption {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 18px;
  }
  .pic-heading {
    text-decoration: none;
    font-family: Open-sans;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
  }
  .search {
    width: 100%;
    display: inline-block;
    font-size: 0;
  }
  .visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  .field {
    font-family: Open-sans;
    font-weight: 400;
    font-size: 13px;
    border-style: none;
    height: 48px;
    box-sizing: border-box;
    margin-top: 60px;
    background-color: #f4f7f6;
    margin-right: 0;
    padding-left: 18px;
    border-radius: 0;
  }
  .button-search {
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    border-style: none;
    width: 48px;
    height: 48px;
    background-size: 20px;
    background-position: center center;
    margin-left: 0;
  }
  .button-search::before {
    content: "";
    display: inline-block;
  }
  .email {
    font-family: Open-sans;
    font-weight: 400;
    font-size: 13px;
    border-style: none;
    width: 100%;
    height: 48px;
    background-color: #f4f7f6;
    padding-left: 18px;
    box-sizing: border-box;
    border-radius: 0;
  }
  .button {
    background-color: #b59f5b;
    width: 100%;
    color: white;
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    border-style: none;
    margin-top: 16px;
    height: 48px;
  }
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 12px;
    width: 100%;
    padding-left: 0;
  }
  .tag-list-item {
    border: 2px solid #eeeeee;
    margin-right: 5px;
  }
  .tag-link {
    color: #000000;
    text-decoration: none;
  }
  .topic-list {
    display: flex;
    flex-direction: column;
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    list-style-type: none;
    font-size: 14px;
    width: 100%;
    padding-left: 0;
  }
  .topic-list-item {
    border-bottom-style: solid;
    border-color: #eeeeee;
    border-width: 1px;
    padding-bottom: 12px;
    padding-top: 18px;
  }
  .topic-link {
    color: #000000;
    text-decoration: none;
  }
  .number {
    color: #b59f5b;
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    font-size: 12px;
    vertical-align: super;
  }
  /*наши изделия*/
  .goods-title {
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  .goods-title::after {
    content: "";
    display: block;
    border-style: none;
    background-color: #b59f5b;
    width: 65px;
    height: 3px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.4;
  }
  .goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    margin-top: 25px;
  }
  .goods-text {
    border: 2px solid #b59f5b; 
    padding: 20px 20px 30px;
    box-sizing: border-box;
    z-index: 2;
    margin-top: -30px;
    flex-grow: 1;
  }
  .goods-heading {
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  .goods-paragraph {
    font-family: Open-sans, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }
  .goods-link {
    text-decoration: none;
    color: #b59f5b;
  }
  .product-footer {
    display: flex;
    justify-content: space-between;
  }
  .stuffing {
    text-decoration: line-through;
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
  }
  .price {
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
  }
  .shop {
    display: flex;
    font-family: Open-sans, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    height: 48px;
    background-color: #b59f5b;
    border-style: none;
    width: 140px;
  }
  .shop-link {
    text-decoration: none;
    color: #ffffff;
    padding-top: 15px;
    padding-left: 28px;
  }
/*подвал*/
  .footer {
    margin-right: auto;
    margin-left: auto;
  }
  .adress {
    box-sizing: border-box;
    display: block;
    background-color: #f4f7f6;
    margin-right: auto;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 30px;
    margin-top: 64px;
    margin-bottom: 74px;
  }
  .socials {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
  }
  .social {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
  }
  .social:nth-child(n + 2) {
    margin-left: 25px;
  }
  .social-link {
    display: flex;
    flex-direction: row;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: 20px;
  }
  .twitter {
    background-image: url(../svg/004-twitter.svg);
  }
  .pinterest {
    background-image: url(../svg/001-pinterest.svg);
  }
  .facebook {
    background-image: url(../svg/002-facebook-logo.svg);
  }
  .instagram {
    background-image: url(../svg/005-instagram.svg);
  }
  .tumblr {
    background-image: url(../svg/003-tumblr.svg);
  }
  .copyright {
    font-family: Open-sans;
    font-weight: 700;
    width: 220px;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    text-align: center;
    color: #999999;
  }
  .menu-link:hover,
  .content-heading:hover,
  .content-link:hover,
  .pic-heading:hover,
  .tag-link:hover,
  .topic-link:hover,
  .trend-heading:hover {
    color: #b59f5b;
  }
  .button-send:hover,
  .button-search:hover,
  .button:hover,
  .shop:hover {
    border: 1px solid #b59f5b;
  }
  .select:focus,
  .send-input:focus,
  .field:focus,
  .email:focus {
    border-width: 1px;
    border-bottom-style: solid;
    border-color: #b59f5b;
    outline: none;
  }
  .button-send:focus,
  .button-search:focus,
  .button:focus {
    outline: none;
  }
@media (min-width: 1200px), (orientation: landscape) {
  .header {
    background-image: url(../images/banner-bg.jpg);
  }
  .header-logo {
    width: 180px;
    margin-top: 30px;
    margin-left: 245px;
  }
  .menu {
    margin-top: 45px;
    margin-right: 245px;
  }
  .menu-link {
    color: #ffffff;
    text-decoration: none;
    font-family: Open-sans, sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
  }
  .menu-list-item {
    display: inline-block;
  }
  .menu-list-item:nth-child(n + 2) {
    margin-left: 35px;
  }
  .header-text {
  width: 700px;
}
  .title {
  font-size: 45px;
  padding-top: 50px;
  padding-bottom: 145px;
  line-height: 75px;
}
/*Попап*/
.popup-box {
  width: 390px;
  padding: 55px 30px;
}
.popup-close {
  background-size: 20px;
}
.popup-heading {
  font-size: 20px;
}
.select {
  width: 330px;
}
.email-choice-text {
  margin-right: 15px;
}
.send-input {
  width: 330px;
}
.button-send {
  width: 330px;
}
/*сейчас в тренде*/
  .trend-title {
  font-size: 20px;
  margin-top: 60px;
}
  .trends {
  margin-top: 27px;
}
  .trend-card {
  width: calc(25% - 5px);
  height: 320px;
}
.trend-list {
  margin-top: 38px;
  margin-bottom: 13px;
}
.trend-subject {
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 33px;
}
.trend-heading {
  font-size: 20px;
  line-height: 24px;
}
/*основной раздел*/
.page {
  margin-top: 60px;
  width: 1170px;
}
main {
  width: 780px;
}
.image {
  width: 381px;
  margin-right: 30px;
}
.content {
  display: flex;
}
.content:nth-child(n + 2) {
  margin-top: 60px;
}
.content-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
}
.content-heading {
  font-size: 20px;
  line-height: 24px;
}
.data-author {
  margin-top: 37px;
  margin-bottom: 54px;
}
.content-paragraph{
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 0;
}
/*сайбар*/
aside {
  width: 272px;
}
.heading {
  font-size: 14px;
  margin-top: 0;
}
.heading:nth-child(n + 2) {
  padding-top: 60px;
}
.field {
  width: 224px;
}
.tag-list-item:nth-child(n + 4) {
  margin-top: 6px;
}
.tag-link {
  margin: 6px 12px 6px 12px;
}
/*наши изделия*/
.goods-title {
  font-size: 20px;
}
.goods-title::after {
  margin-top: 10px;
}
.goods {
  width: 1170px;
}
.product {
  width: 300px;
}
.goods-text {
  width: 340px;
}
.goods-heading {
  font-size: 20px;
}
/*подвал*/
.footer {
  width: 1170px;
}
.adress {
  width: 1170px;
}
}
@media (min-width: 641px) and (max-width: 1199px) {
 /*шапка*/
 .header {
  background-image: url(../images/banner-bg-tablet.jpg);
}
.header-logo {
  width: 160px;
  margin-top: 50px;
  margin-left: 35px;
}
.hamburger-menu {
  margin-top: 30px;
  margin-right: 35px;
  order: 99;
}
.menu__btn {
  display: flex; 
  align-items: flex-end; 
  width: 25px;
  height: 20px;
  z-index: 1;
 
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu {
  opacity: 0;
}
.header-text {
  width: 615px;
}
.title {
  font-size: 40px;
  padding-top: 100px;
  padding-bottom: 125px;
  line-height: 55px;
}
/*Попап*/
.popup-box {
  width: 390px;
  padding: 55px 30px;
}
.popup-close {
  background-size: 30px;
}
.popup-heading {
  font-size: 18px;
}
.select {
  width: 330px;
}
.email-choice-text {
  margin-right: 35px;
}
.send-input {
  width: 330px;
}
.button-send {
  width: 330px;
}
/*сейчас в тренде*/
.trend-title {
  font-size: 18px;
  margin-top: 50px;
 }
.trends {
  flex-wrap: wrap;
  margin-top: 18px;
}
.trend-card {
  width: calc(50% - 2px);
  height: 245px;
}
.trend-card:nth-child(n + 3) {
  margin-top: 5px;
}
.trend-list {
  margin-top: 34px;
  margin-bottom: 13px;
  padding-left: 30px;
} 
.trend-subject {
  margin-left: 30px;
  margin-bottom: 33px;
}
.trend-heading {
  font-size: 17px;
  line-height: 22px;
}
/*основной раздел*/
.page {
  margin-top: 50px;
  width: 700px;
}
main {
  width: 390px;
}
.image {
  width: 390px;
  margin-right: 35px;
}
.content-list {
  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.content-heading {
  font-size: 17px;
  line-height: 22px;
}
.data-author {
  margin-top: 40px;
  margin-bottom: 37px;
}
.content-paragraph {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 25px;
}
.content::after {
  content: "";
  display: block;
  border-style: none;
  background-color: #eeeeee;
  width: 390px;
  height: 3px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}
/*сайбар*/
aside {
  width: 272px;
}
.heading {
  font-size: 14px;
  margin-top: 0;
}
.heading:nth-child(n + 2) {
  padding-top: 60px;
}
.field {
  width: 224px;
}
.tag-list-item:nth-child(n + 4) {
  margin-top: 6px;
}
.tag-link {
  margin: 6px 12px 6px 12px;
}
/*наши изделия*/
.goods-title {
  font-size: 18px;
}
.goods-title::after {
  margin-top: 15px;
  margin-bottom: 25px;
}
.goods {
  width: 700px;
}
.product {
  width: 300px;
}
.goods-text {
  width: 340px;
}
.goods-heading {
  font-size: 17px;
}
/*подвал*/
.footer {
  width: 700px;
}
.adress {
  width: 700px;
}
}
@media (max-width: 640px) {
 /*шапка*/
 .header {
  background-image: url(../images/banner-mobile.jpg);
  padding: 30px 15px;
}
.header-content {
  flex-direction: column;
}
.header-logo {
  width: 270px;
  margin-top: 225px;
  margin-bottom: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hamburger-menu {
  margin-left: auto;
  order: -1;
}
.menu__btn {
  display: flex; 
  align-items: center; 
  width: 25px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu {
  display: none;
}
.header-text {
  width: 280px;
}
.title {
  font-size: 26px;
  line-height: 36px;
  padding-bottom: 220px;
  padding-top: 190px;
}
/*Попап*/
.popup-box {
  width: 330px;
  padding: 30px 25px;
}
.popup-close {
  background-size: 30px;
}
.popup-heading {
  font-size: 16px;
}
.select {
  width: 280px;
}
.email-choice-text {
  margin-right: 35px;
}
.send-input {
  width: 280px;
}
.button-send {
  width: 280px;
}
/*сейчас в тренде*/
.trend-title {
  font-size: 16px;
  margin-top: 45px;
 }
.trends {
  flex-wrap: wrap;
  margin-top: 25px;
}
.trend-card {
  width: 100%;
  height: 231px;
}
.trend-card:nth-child(n + 1) {
  margin-top: 3px;
}
.trend-list {
  margin-top: 30px;
  margin-bottom: 27px;
  padding-left: 20px;
} 
.trend-subject {
  margin-left: 20px;
  margin-bottom: 15px;
}
.trend-heading {
  font-size: 16px;
  line-height: 20px;
}
/*основной раздел*/
.page {
  flex-direction: column;
  margin-top: 45px;
  width: 330px;
}
main {
  width: 330px;
}
.image {
  width: 100%;
}
.content-list {
  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.content-heading {
  font-size: 16px;
  line-height: 20px;
}
.data-author {
  margin-top: 25px;
  margin-bottom: 23px;
}
.content-paragraph {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 25px;
}
.content::after {
  content: "";
  display: block;
  border-style: none;
  background-color: #eeeeee;
  width: 330px;
  height: 3px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
}
/*сайбар*/
aside {
  width: 330px;
}
.heading {
  font-size: 16px;
  margin-top: 10px;
}
.heading:nth-child(n + 2) {
  padding-top: 45px;
}
.field {
  width: 282px;
}
.tag-list-item:nth-child(n + 5) {
  margin-top: 6px;
}
.tag-link {
  margin: 8px 13px 8px 13px;
}
/*наши изделия*/
.goods-title {
  font-size: 16px;
}
.goods-title::after {
  margin-top: 15px;
  margin-bottom: 25px;
}
.goods {
  width: 330px;
}
.product {
  width: 285px;
}
.goods-text {
  width: 323px;
}
.goods-heading {
  font-size: 17px;
}
/*подвал*/
.footer {
  width: 330px;
}
.adress {
  width: 330px;
}
}